<h5>New Card</h5>

<form action='some_crazy_url' class="new_card">
	<label>Title
	<input 
		type="text"
		name="card[title]"></label>
	</br>
	
	<label for="card_description">Description</label>
	<textarea
		name="card[description]"
		id="card_description"></textarea>
	</br>

	<button>Create Card</button>
</form>