<<<<<<< HEAD

<div class='boards-index-title'>
  <h3>My Boards</h3>
</div>

<ul class='boards'>
  <% boards.each(function (board) { %>
    <li>
      <a href="#/boards/<%= board.id %>">
        <span class='shadow'></span>
        <span class='details'>        
          <%= board.escape("title") %>
        </span>
      </a>
    </li>
  <% }); %>
</ul>
=======
<div class="row"></div>
	<div class="col-xs-6">
		<h2>Boards</h2>
		<div class="list-group">
			<% boards.forEach(function (board){ %>
			<a href="#/boards/<%= board.escape("id") %>" class="list-group-item">
				<%= board.escape("title") %></a>  
			<% }) %> 
		</div>
	</div>
>>>>>>> skeleton
