<h2>Boards</h2>

<div class="list-group">
	  
	<% boards.forEach(function (board){ %>
	
	<a href="#/boards/<%= board.escape("id") %>" class="list-group-item">
		<%= board.escape("title") %></a>  
	<% }) %> 

</div>