	<div class="col-xs-6">
		<h2>Create New Board</h2>
		<form id="new_board" action="api/boards">
			<label for="board_title">Board Title</label>
			<input 
				type="text"
				name="board[title]"
				id="board_title">
		
			<input type="submit" value="Create Board">
		</form>
	</div>
</div>