<h1><%= board.escape("title") %></h1>

<button id="delete_board">Delete Board</button>



<h3>Lists for <%= board.escape("title") %></h3>
<ul class="lists"></ul>

<div class="new_list"></div>

<a href="#">All Boards</a>





