
<div class="row">
	<div class="col-xs-9">
		<div class="page-header">
			<h3><%= board.escape("title") %>
			<button id="delete_board" class="btn btn-default btn-xs hidden">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
			</h3>
		</div>
		
	
		
		<ul class="lists sortable"></ul>
	</div>
	
	<div class="col-xs-3">
		<div class="new_list"></div>


		<!--Add drop down  -->


		<!--Float, Panels -->

	</div>
</div>

<script>
$("h3").hover( function (){
	$("button#delete_board").toggleClass("hidden");
});

$('.lists.sortable').sortable()
$('.lists.sortable').disableSelection();

</script>