
<div class="row">
	<div class=""></div>
	

	<div class="page-header">
		<h3><%= board.escape("title") %></h3>
	</div>


	<button id="delete_board" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-remove"></span>
	</button>

	<div class="new_list pull-right"></div>


	<!--Add drop down  -->


	<!--Float, Panels -->

	<ul class="lists"></ul>

	<a href="#">All Boards</a>
</div>