<h3>New List</h3>

<form action="api/lists" class="new_list">
	<label for="list_title">Title</label>
	<input
		type="text"
		name="list[title]"
		id="list_title">
	
	<input type="submit" value="Create List">
</form>