
<h3>New List</h3>
<form action="api/lists" class="new_list">
	<input
		type="text"
		name="list[title]"
		id="list_title">

	<input class="btn btn-primary btn-sm" type="submit" value="Create List">
</form>
